.wrapper-loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.background-transition {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.b1 {
  background-color: #FFBE98;
  animation: b1 .8s .5s forwards;
  transform: translateY(-100vh);
  clip-path: polygon(0 45%, 100% 0, 100% 53%, 0% 100%);
}

@keyframes b1 {
  100% {
    transform: translateY(100vh);
  }
}

.b2 {
  background-color: #8E7AB5;
  animation: b2 .8s 1s both;
  transform: translateX(-100vw);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@keyframes b2 {
  100% {
    transform: translateX(100vw);
  }
}

